@{
    // Razor code block (C# or VB.NET code can go here if needed)
}

<div>
    <h1>
        Welcome to IKaze Bank ATM!
    </h1>
    <form method="post" action="~/Bank/Index">
        <label for="login">Log in:</label><br>
        <input type="text" id="login" name="login" value="Log In"><br><br>
        <input type="submit" value="Submit">
    </form>
</div>






   
